<mat-spinner *ngIf='isLoading' ></mat-spinner>
<mat-card>
  <h2> {{ course.title }}</h2>
  <mat-divider></mat-divider>
    <h3> {{ course.content }}</h3>
  <!-- <mat-form-field>
    <textarea matInput rows="1" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onClickCourse()">Search</button> -->
</mat-card>
<mat-card class="card-style" *ngFor='let subcourses of subcourse'>
  <mat-card-header>
      <mat-card-title ><h4>  {{ subcourses.title }} </h4></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p><strong>Description:</strong> {{ subcourses.content }} </p>
      <p><strong>Offered By:</strong> {{ subcourses.uni }} </p>
  </mat-card-content>
  <mat-card-actions class="card-actions-style">
      <a mat-button color="primary" [routerLink]="['/explore', subcourses.id]">Explore</a>
  </mat-card-actions>
</mat-card>

