<mat-spinner *ngIf='isLoading' ></mat-spinner>
<mat-card>
  <h2> {{ course.title }}</h2>
    <h3> {{ course.content }}</h3>
  <!-- <mat-form-field>
    <textarea matInput rows="1" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onClickCourse()">Search</button> -->
</mat-card>
<mat-card class="card-style" *ngFor='let subcourse of subcourses'>
  <mat-card-header class="card-title-style">
      <mat-card-title ><h3>  {{ course.title }} </h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      {{ course.content }}
  </mat-card-content>
  <mat-card-actions class="card-actions-style">
      <a mat-button color="primary" [routerLink]="['/explore', course.id]">Explore</a>
  </mat-card-actions>
</mat-card>

