
:host {
  display: block;
  margin-top: 1rem;
}

mat-form-field, textarea {
  width: 100%;
}

h2 {
  text-align-last: center;
}

h3 {
  margin: 3rem 3rem 3rem 3rem;
}

h4 {
  color: darkcyan;
  text-align-last: center;
}

mat-card-header {
  justify-content: center;
}

mat-spinner
{
  margin: auto;
}


.card-style{
  width: 30%;
  margin: 1rem;
}
