<mat-toolbar color="primary">
  <span><a routerLink="/">CourseAdvisor</a></span>
  <span class='spacer'>
  </span>
  <ul class='ca-nav'>
    <li>
      <a mat-button routerLink='' routerLinkActive=''>Programs</a>
    </li>
    <li>
        <a mat-button  routerLink=''routerLinkActive=''>Student Forum</a>
    </li>
    <li>
      <a mat-button  routerLink='' routerLinkActive=''>News</a>
    </li>
    <li>
      <a  mat-button routerLink='' routerLinkActive=''>ContactUs</a>
    </li>
    <li>
      <a mat-button routerLink='/login' routerLinkActive=''>Login</a>
    </li>
  </ul>
</mat-toolbar>
