<mat-toolbar color="primary">
  <span><a routerLink="/">CourseAdvisor</a></span>
  <span class='spacer'>
  </span>
  <ul class='ca-nav'>
    <li *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink='' routerLinkActive=''>Programs</a>
    </li>
    <li *ngIf='userIsAuthenticated'>
        <a mat-button  routerLink=''routerLinkActive=''>Student Forum</a>
    </li>
    <li *ngIf='!userIsAuthenticated'>
      <a mat-button  routerLink='' routerLinkActive=''>News</a>
    </li>
    <li *ngIf='!userIsAuthenticated'>
      <a  mat-button routerLink='' routerLinkActive=''>ContactUs</a>
    </li>
    <li *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink='/login' routerLinkActive=''><mat-icon class="icon-size">input</mat-icon>
        Login</a>
    </li>
    <li *ngIf='userIsAuthenticated'>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
