:host {
  display: block;
  margin-top: 1rem;
}

.item-style {
  text-align: center;
}

.card-style{
  width: 30%;
  margin: 1rem;
}

.card-title-style{
  text-align: center !important;
  display: inline;
}

mat-spinner{
  margin: auto;
}

.banner
{
  width: 100%;
  margin: 0 0;
  height: 20rem;
}

.img-banner
{
  height: 100%;
  width: 100%;
}
