:host {
  display: block;
  margin-top: 1rem;
}

.item-style {
  text-align: center;
}

.card-style{
  width: 30%;
  margin: 1rem;
}

.card-title-style{
  text-align: center !important;
  display: inline;
}
